.ThongBao_layout {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 700px;
    padding: 5px;
}

.ThongBao_content {
    padding: 10px;
    max-height: 620px;
    overflow-y: auto;
}

.ThongBao_form {
    max-height: 650px;
    overflow-y: auto;
}
.ThongBao_form_content {
    padding: 10px;
}
