.notify-component {
    width: 80%;
    margin: auto;
    margin-top: 8vh;

    & .breadcrumb-notify {
        width: 100%;
        font-size: 18px;
        margin-top: 80px;
    }

    & .notify-list {
        margin-top: 2%;
    }
}
