.your-form-container {
    //max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    width: 600px;
    height: 600px;
    background-color: rgb(213, 226, 240);

    & form {
        display: flex;
        flex-direction: column;
    }

    & label {
        margin-bottom: 10px;
    }

    & input,
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    & textarea {
        height: 200px;
    }

    & button {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    & button:hover {
        background-color: #45a049;
    }
}
